/* entrances */
.fade-in-0 {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
            animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;

}

.fade-in-1 {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
            animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
}

@-webkit-keyframes fade-in-0 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fade-in-0 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fade-in-1 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fade-in-1 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* exits */

.fade-out-0 {
	-webkit-animation: fade-out 1s ease-out backwards;
            animation: fade-out 1s ease-out backwards;
}

.fade-out-1 {
	-webkit-animation: fade-out 1s ease-out backwards;
            animation: fade-out 1s ease-out backwards;
}

@-webkit-keyframes fade-out-0 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fade-out-0 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fade-out-1 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fade-out-1 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}